{# - config template for ELB -#}

{%- set metrics =  {'RequestCount': {'stat': 'Sum', 'unit': 'Count'},
                    'HTTPCode_Backend_2XX': {'stat': 'Sum', 'unit': 'Count'},
                    'HTTPCode_Backend_4XX': {'stat': 'Sum', 'unit': 'Count'},
                    'HTTPCode_Backend_5XX': {'stat': 'Sum', 'unit': 'Count'},
                    'HTTPCode_ELB_4XX': {'stat': 'Sum', 'unit': 'Count'},
                    'HTTPCode_ELB_5XX': {'stat': 'Sum', 'unit': 'Count'},
                    'UnHealthyHostCount': {'stat': 'Average', 'unit': 'Count'},
                    'HealthyHostCount':   {'stat': 'Average', 'unit': 'Count'},
                    'Latency':            {'stat': 'Average', 'unit': 'Count'},
                    'BackendConnectionErrors': {'stat': 'Sum', 'unit': 'Count'},
                    'SurgeQueueLength': {'stat': 'max', 'unit': 'Count'},
                    'SpilloverCount': {'stat': 'Sum', 'unit': 'Count'}
                    } -%}
Auth:
  region: "{{ region }}"

Metrics:
{%- for elb in resources %}
    {%- for metric in metrics %}
- Namespace: "AWS/ELB"
  MetricName: "{{ metric }}"
  Statistics: 
  - "{{ metrics[metric]['stat'] }}"
  Unit: "{{ metrics[metric]['unit'] }}"
  Dimensions:
    LoadBalancerName: "{{ elb.name }}"
  Options:
    Period: 5
    {%- endfor %}
{%- endfor %}
